
.bgrainbow{
    animation: colorchange 2s; /* animation-name followed by duration in seconds*/ /* you could also use milliseconds (ms) or something like 2.5s */ 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-play-state: running;
}
@keyframes colorchange { 
    0% { background: #ff0000; } 
    14% { background: #ffa500; } 
    28% { background: #ffff00; } 
    42% { background: #008000; } 
    56% { background: #0000ff; }
    70% { background: #4b0082; } 
    84% { background: #ee82ee; } 
    100% { background: #ff0000; }
}

.main{
    display: flex;
    padding-top: 3rem;
    justify-content: center;
   
}

.profile{
  margin-right: 3rem;  
}

.profile:hover{
    
    animation: spinner 2.7s;
    transform-origin: center;
    
    animation-play-state: running;
    animation-iteration-count: infinite; 
}

@keyframes spinner {
    0% { transform: rotate(0deg) scale(1); } 
    
    28% {  transform: rotate(360deg) } 
    
    56% { transform: rotate(0deg) }
    
    84% {  transform: rotate(360deg) scale(4); } 
    100% {  transform: rotate(0deg) }
}

.name{
    font-size: 3rem;
}

.name:hover{
    transform-origin: center;
    transform: scale(1.05) ;
    animation:namemove 2s;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-play-state: running;
}

@keyframes namemove {
    0%{color: #000000; transform: rotate3d(0) ;}
    25%{color: #5f5f5f;transform: rotate3d(1, 1, 1, 45deg);}
    50%{color: #a3a3a3; transform: rotate3d(2, -1, -1, -0.2turn);}
    75%{color: #ffffff; transform: rotate3d(0, 1, 0.5, 3.142rad);}
    100%{color: #000000; transform: rotate3d(0);}

    
}

.editem p{
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
    word-wrap: break-word;
}
.editem span{
    font-size: small;
}

.education{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  
}

.Skills{
    
    width: 80%;
}

.skillist{
    display: flex;
    flex-wrap: wrap;
}
.skillist li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 2%;
}

.Skills:hover{
    background-color: #4c0082;
    transform-origin: center;
    transform: scale(1.05) ;
    animation:textcolor 5s;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-play-state: running;
}
.ed:hover{
   background-color: #4c0082;
   transform-origin: center;
   transform:  scale(1.05) ;
   animation:textcolor 5s;
   animation-timing-function: ease-in-out; 
   animation-iteration-count: infinite; 
   animation-play-state: running;

}

@keyframes textcolor {
    0% { color: #ff0000; } 
    14% { color: #ffa500; } 
    28% { color: #ffff00; } 
    42% { color: #008000; } 
    56% { background: #ffff00;; }
    70% { background: #ffa500; } 
    84% { background: #ee82ee; } 
    100% { background: #ff0000; }
}
.work{
    width: 40%; 
}
.work:hover{
    background-color: #4c0082;
    transform-origin: center;
    transform: scale(1.1);
    animation:textcolor 5s;
   animation-timing-function: ease-in-out; 
   animation-iteration-count: infinite; 
   animation-play-state: running;

}
table, th, td {
    border:1px solid black;
  }

th{
    font-size: larger;
}

td{
    align-items: center;
}
td:hover{
    background-color: antiquewhite;
}
.desc{
    width: 30%;
}