
.bgrainbow{
    animation: colorchange 2s; /* animation-name followed by duration in seconds*/ /* you could also use milliseconds (ms) or something like 2.5s */ 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-play-state: running;
}
@keyframes colorchange { 
    0% { background: #ff0000; } 
    14% { background: #ffa500; } 
    28% { background: #ffff00; } 
    42% { background: #008000; } 
    56% { background: #0000ff; }
    70% { background: #4b0082; } 
    84% { background: #ee82ee; } 
    100% { background: #ff0000; }
}

.main{
    display: flex;
    padding-top: 3rem;
    justify-content: center;
   
}

.profile{
  margin-right: 3rem;  
}

.profile:hover{
    
    animation: spinner 3s;
    transform-origin: center;
    animation-iteration-count: 1; 
    animation-play-state: running;
}

@keyframes spinner {
    0% { transform: rotate(0deg) scale(1); } 
    
    28% {  transform: rotate(360deg) } 
    
    56% { transform: rotate(0deg) }
    
    84% {  transform: rotate(360deg) scale(4); } 
    100% {  transform: rotate(0deg) }
}

.name{
    font-size: 3rem;
}

.editem p{
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
    word-wrap: break-word;
}
.editem span{
    font-size: small;
}

.education{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  
}

.ed:hover{
   background-color: #4c0082;
   transform-origin: center;
   transform: scale(1.3);
}

.work{
    width: 40%; 
}
.work:hover{
    background-color: #4c0082;
    transform-origin: center;
    transform: scale(1.3);
}
table, th, td {
    border:1px solid black;
  }

th{
    font-size: larger;
}

td{
    align-items: center;
}
.desc{
    width: 30%;
}